<h2> NEW ARTIST </h2>
<form action="/artists" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <label for="year_of_birth">Year of Birth:</label>
    <input type="text" name="year_of_birth" id="year_of_birth" required>
    <label for="active">Active:</label>
    <input type="boolean" name="active" id="active" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Add Artist">
  </div>
</form>